# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
env/
venv/
ENV/

# Poetry
dist/
*.egg-info/

# Environment variables
.env

# Project specific
discord_messages.json
bot.log

# IDE
.idea/
.vscode/

# Nix stuff
.direnv